html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;

  background-color: limegreen;

  opacity: 0;
  transition: all 200ms linear;
}

.diamond {
  height: 80px;
  right: -6em;
  top: calc(50% - 40px);
  width: 80px;

  background-color: hotpink;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
  transition: all 200ms linear;
}

.panel {
  width: 250px;
  top: 50%;

  background-color: yellow;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;
  
  max-height: 0;
  overflow: hidden;
  transition: all 200ms linear;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
  border-radius: 50%;
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;

  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
  overflow: hidden;
}

.js-toggle-show {
  opacity: 1;
}

.js-toggle-move {
  right: 2em;
}
  
.js-collapse-expand {
  max-height: 7em;
}

.js-ball-bounce {
  -webkit-animation: ball-bounce 1s linear;
  animation: ball-bounce 1s linear;
}

.js-append {
  -webkit-animation: btn-append 300ms ease-in-out;
  animation: btn-append 300ms ease-in-out;
}

@-webkit-keyframes ball-bounce {
  0% {
    top: 100px;
  }
  
  20% {
    top: 140px;
  }
  
  40% {
    top: 100px;
  }
  
  60% {
    top: 130px;
  }
  
  75% {
    top: 100px;
  }
  
  85% {
    top: 120px;
  }
  
  90% {
    top: 100px;
  }
  
  95% {
    top: 110px;
  }
  
  100% {
    top: 100px;
  }
}

@keyframes ball-bounce {
  0% {
    top: 100px;
  }
  
  20% {
    top: 140px;
  }
  
  40% {
    top: 100px;
  }
  
  60% {
    top: 130px;
  }
  
  75% {
    top: 100px;
  }
  
  85% {
    top: 120px;
  }
  
  90% {
    top: 100px;
  }
  
  95% {
    top: 110px;
  }
  
  100% {
    top: 100px;
  }
}

@-webkit-keyframes btn-append {
  
  0% {
    max-height: 0;
  }
  
  100% {
    max-height: 2em;
  }
}

@keyframes btn-append {
  
  0% {
    max-height: 0;
  }
  
  100% {
    max-height: 2em;
  }
}